<!DOCTYPE html>
<head>
    <title>자기소개</title>
    <style>
        body {
            margin: 0;
        }
        h1 {
            color: #ffffff;
            padding: 20px;
            margin: 20px;
            text-align: center;
            background-color: #6d6875;
        }   
        .mju1{
            color: #e5989b;            
        }
        .mju2{
            text-align: center;
            font-size:1.5em;            
        }
    </style>  
</head>
<body>    
    <h1 style=" text-align: center;">멋사 7기 김한솔</h1>
    <ul>
        <li> 생년월일 : 1999년 4월 21일</li>            
        <li> 특기 : 어디서든 머리만 대면 꿈나라로 여행가기 </li>        
    </ul>
    <div class="mju1">
        <ul>
            <li> 특이사항        
                <ol>
                    <li>체력이 종이 빨때 처럼 부실함 </li>
                </ol>        
        </ul>
    </div>
    <br>
    <div class="mju2">
        <a href="https://github.com/kimhan0421" style = "color :#b5838d;">Git</a>
        <a href="{% url 'home' %}" style = "color :#b5838d;">Home</a>
    </div>
    
</body>
</html>


