<!DOCTYPE html>
<head>
    <title>자기소개</title>
    <style>
        body {
            margin: 0;
        }
        h1 {
            color: #ffffff;
            padding: 20px;
            margin: 20px;
            text-align: center;
            background-color: #6d6875;
        }   
        .mju1{
            color: #e5989b;            
        }
        .mju2{
            text-align: center;
            font-size:1.5em;            
        }
    </style>  
</head>

<body>
    <h1 style=" text-align: center;">멋사 8기 김원규</h1>
    <ul>
        <li>컴퓨터공학과 16학번</li>
        <li>생년월일: 1997년 9월 5일</li>
        <li>더 이상 뭘 넣어야...</li>
    </ul>    
    <div class="mju1">
        <ul>            
            <li> 특이사항
                <blockquote>
                    <ol>
                        <li>늦잠을 잘잡니다 </li>
                        <li> 약속시간 잡으면 30분은 더 생각해주세요!</li>
                    </ol>
                </blockquote>
        </ul>        
    </div>
    <div class="mju2">
        <a href="https://github.com/wongyuKim97" style = "color :#b5838d;">Git</a>   
        <a href="{% url 'home' %}" style = "color :#b5838d;">Home</a>
    </div>  
</body>