<!DOCTYPE html>
<head>
    <meta charest="utf-8">
    <style>
        body {
            margin: 0;
        }
        h1 {
            color: #ffffff;
            padding: 20px;
            margin: 20px;
            text-align: center;
            background-color: #6d6875;
        }  
        h2{
            padding: 20px;
            margin: 20px;
        }
        .mju1{
            text-align: left;
        }     
    </style>
</head>
<body>    
    <h1 style="text-align: center;">OneHour</h1>           
    <h2 style=" text-align: center;">팀원</h2>
    
    <div class="mju1">
        <ul>
            <li>숨이 죽은 야채 하나</li>
            <a href="{% url 'about2' %}" style = "color :#b5838d;">컴퓨터 공학과 16학번 김원규</a>
            <br>
            <li>종이 빨때 하나</li>
            <a href="{% url 'about' %}" style = "color :#b5838d;">컴퓨터 공학과 18학번 김한솔</a>
        </ul> 
    </div>    
    
    </body>
</html>